body > header {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 10%;
    background-color: rgb(188, 188, 188);
}

header > img {
    width: 20%;
    margin-right: 5%;
    padding: 5%;
    
}

header > p {
    text-align: center;
    width: 60%;
    overflow-y: auto;
}