.post-container {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    margin-bottom: 5vh;
}

.post {
    border-radius: 5px;
    width: 100%;
}

.post>a {
    text-decoration: none;
    color: black;
}

.post:not(:first-child) {
    margin-top: 10%;
}

.post-creator {
    margin: 2px 0 0 2px;
    font-size: large;
}

.post-image {
    padding-top: 0;
    margin-top: -10px;
    width: 100%;
}

.post-description {
    max-height: 10vh;
    overflow-y: auto;
}

.post-description>p {
    margin: 0 1% 1% 1%;
    padding: 1%;
}

.icons span {
    display: inline-block;
    margin: 0 10px 0 5px;
}

.icons span figcaption {
    display: inline-block;
    text-align: center;
}

.icons span img {
    cursor: pointer;
    width: 25px;
    height: 25px;
}