.post-container {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    margin-bottom: 20%;
}

.post {
    width: 100%;
    margin-top: 2%;
}

.post > a {
    text-decoration: none;
    color: black;
}

.post:not(:first-child) {
    margin-top: 10%;
}

.post-creator {
    margin: 2px 0 0 2px;
    font-size: medium;
    font-weight: bold;
}

.post-image {
    padding-top: 1%;
    width: 100%;
}

.post-description {
    margin: 0 1% 1% 1%;
    font-weight: bold;
}

.icons span {
    display: inline-block; 
    margin: 0 10px 0 5px;
}

.icons span img {
    width: 32px;
    height: 32px;
}
