html,
body {
    height: 98vh;
}

.header {
    height: 10vh;
    text-align: center;
}

.header img {
    height: 10vh;
}

.post-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 80vh;
    margin-top: 1rem;
}

.image-chooser {
    order: 1;
    overflow: visible;
    /* height: 60%; */
}

.image-chooser form {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.image-viewer {
    min-width: 15vh;
    width: 40vh;
}

.text-chooser {
    order: 2;
    margin-top: 2rem;
}

.description {
    background-color: transparent;
    color: aliceblue;
    border: none;
    outline: none;
    margin-left: 2rem;
    width: 30vh;
    resize: none;
}

.buttons {
    order: 3;
    /* margin-left: 2rem; */
    height: 10vh;
}

.buttons i {
    margin-left: 1rem;
    width: 20%;
}

@media screen and (max-width: 600px) {
    .post-box {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .buttons i {
        width: 10%;
    }
}