body {
    background-image: url('../img/seven.png');
    /* background-size: 50%; */
    /* overflow-x: hidden; */
}


body>form {
    position: relative;
    text-align: center;
    margin-top: 40%;
    margin-bottom: 40%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        visibility: visible;
        opacity: 1;
        transform: translateY(-20%);
    }

    to {
        opacity: 0;
    }
}