body {
    font-family: 'Arial', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    background-image: url('first.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* To block the scroll down effect but still manage to work */
    background-attachment: fixed;
    height: 300vh
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}