body {
    background-image: url('../img/first.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

body>img {
    position: absolute;
    height: 200%;
    visibility: hidden;
}

body>form {
    position: relative;
    text-align: center;
    width: 100%;
    bottom: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20%);
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        transform: translateY(-20%);
    }

    to {
        opacity: 0;
    }
}